$primary: #6660aa;
$secondary: #ff8264;
$black: #1b1b1b;
$blue: #0786b4;
$primary-dark: #322b7f;
$orange: #ff8264;
$orange-dark: #d44320;
$mobile-bp: sm;
$gold: #c58c3e;
$container-max-widths: (
    sm: 600px,
    md: 1100px,
    lg: 1180px,
    xl: 1200px,
);
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 1140px,
    lg: 1200px,
    xl: 1520px,
);

body {
}

// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 992px, xxl: 992px);

$font-family-base: "Manrope", sans-serif;
$headings-font-family: "Manrope", sans-serif;
$headings-font-family2: "Manrope", sans-serif;
$source_font: "Source Sans Pro", sans-serif;

// $hamburger-padding-x: 2px;
// $hamburger-padding-y: 2px;
// $hamburger-layer-width: 24px;
// $hamburger-layer-height: 3px;
// $hamburger-layer-spacing: 5px;
// $hamburger-layer-color: #fff;

$facebook_color: hsla(222, 47%, 40%, 1); // #365397
$twitter_color: hsla(198, 100%, 47%, 1); // #00a9f1
$linkedin_color: hsla(203, 100%, 35%, 1); // #006db3
$apple_color: hsla(0, 0%, 45%, 1); // #737373
$google_color: hsla(217, 89%, 61%, 1); // #4285f4
$google_plus_color: hsla(8, 74%, 53%, 1); // #e0452c
$youtube_color: hsla(0, 100%, 60%, 1); // #ff3333
$vimeo_color: hsla(200, 82%, 61%, 1); // #48b6ed
$pinterest_color: hsla(0, 78%, 45%, 1); // #ce1a19
$yelp_color: hsla(5, 100%, 38%, 1); // #c30f00
$instagram_color: #d62977;
$dribbble_color: hsla(338, 82%, 60%, 1); // #ed4584
$amazon_color: hsla(36, 100%, 50%, 1); // #ff9700
$ebay_color: hsla(219, 89%, 30%, 1); // #083790
$skype_color: hsla(198, 100%, 48%, 1); // #00acf4
$linkedin_color: hsla(208, 46%, 41%, 1); // #396d9a
$dropbox_color: hsla(206, 89%, 46%, 1); // #0d84de
$flickr_color: hsla(334, 100%, 46%, 1); // #ea0066
$github_color: hsla(0, 0%, 18%, 1); // #2f2f2f
$basecamp_color: hsla(121, 38%, 58%, 1); // #6bbd6d
$tumblr_color: hsla(210, 37%, 30%, 1); // #304c68
$foursquare_color: hsla(206, 72%, 45%, 1); // #207dc5
$box_color: hsla(204, 83%, 40%, 1); // #1277bc
